## Install Environment

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

In [0]:
!ls '/usr/lib/jvm/'

default-java		   java-11-openjdk-amd64     java-8-openjdk-amd64
java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!pip install -U pyarrow

Collecting pyarrow
  Downloading https://files.pythonhosted.org/packages/ba/3f/6cac1714fff444664603f92cb9fbe91c7ae25375880158b9e9691c4584c8/pyarrow-0.17.1-cp36-cp36m-manylinux2014_x86_64.whl (63.8MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 63.8MB 63kB/s
Requirement already satisfied, skipping upgrade: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.18.4)
Installing collected packages: pyarrow
  Found existing installation: pyarrow 0.14.1
    Uninstalling pyarrow-0.14.1:
      Successfully uninstalled pyarrow-0.14.1
Successfully installed pyarrow-0.17.1

In [0]:
import os
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'
os.environ['SPARK_HOME'] = '/content/spark-2.4.5-bin-hadoop2.7'

## Q0 : Your first task is to open your Venmo app, find 10 words that are not already in the dictionary and add them to it. Make sure you don‚Äôt add to the dictionary a duplicate word by hitting Control+F before adding your word.

**The word we add**

---


Course -> activity

---


Behalf -> people

---

Buy -> activity

---


Schnitzel -> food

---


Wok -> food

---


Postcard -> travel

---


Voyage -> travel

---


Reimbursement -> cash

---


Espresso -> food

---


Kroger -> food

---

## Import packages

In [0]:
from pyspark.sql.functions import udf, col,lower, regexp_replace, explode, count, split
from pyspark.ml.feature import Tokenizer 
from nltk.stem.snowball import SnowballStemmer 
from nltk.tokenize.casual import TweetTokenizer 
import matplotlib.pyplot as plt
import numpy as np
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.regression import LinearRegression
from pyspark.ml.tuning import ParamGridBuilder, TrainValidationSplit
from pyspark.ml.feature import VectorAssembler

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('VenmoAnalysis').getOrCreate()

## Data Preprocessing

In [0]:
word_dict = spark.read.csv('/content/drive/Shared drives/Lucky7/venmo/Venmo Word Classification Dictonary BAX-423 - Word_Dict.csv',inferSchema = True, header = True)
word_dict =word_dict.toPandas().to_dict('list')

In [0]:
dict_word = {}
for topic,words in word_dict.items():
  for word in words:
    if word is None:
      continue
    else:
      dict_word[word] = topic

In [0]:
emoji_dict = spark.read.csv('/content/drive/Shared drives/Lucky7/venmo/Venmo_Emoji_Classification_Dictionary.csv',inferSchema = True, header = True)

In [0]:
emoji_dict.head()

Row(Event='üá¶üá∫', Travel='üèî', Food='üçá', Activity='üëæ', Transportation='üöÑ', People='üòÄ', Utility='‚ö°')

In [0]:
emoji_dict = emoji_dict.toPandas().to_dict('list')
dict_emoji = {}
for topic,emojis in emoji_dict.items():
  for emoji in emojis:
    if emoji is None:
      continue
    else:
      dict_emoji[emoji] = topic

In [0]:
dict_emoji

In [0]:
sc = spark.sparkContext

# using SQLContext to read parquet file
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

# to read parquet file
venmo = sqlContext.read.parquet('/content/drive/Shared drives/Lucky7/venmo/VenmoSample.snappy.parquet')

In [0]:
venmo.show(10)

+-------+-------+----------------+-------------------+---------------+-----------+--------------------+
|  user1|  user2|transaction_type|           datetime|    description|is_business|            story_id|
+-------+-------+----------------+-------------------+---------------+-----------+--------------------+
|1218774|1528945|         payment|2015-11-27 10:48:19|           Uber|      false|5657c473cd03c9af2...|
|5109483|4782303|         payment|2015-06-17 11:37:04|         Costco|      false|5580f9702b64f70ab...|
|4322148|3392963|         payment|2015-06-19 07:05:31|   Sweaty balls|      false|55835ccb1a624b14a...|
| 469894|1333620|          charge|2016-06-03 23:34:13|             üé•|      false|5751b185cd03c9af2...|
|2960727|3442373|         payment|2016-05-29 23:23:42|              ‚ö°|      false|574b178ecd03c9af2...|
|3977544|2709470|         payment|2016-09-29 22:12:07|     Chipotlaid|      false|57ed2f4723e064eac...|
|3766386|4209061|         payment|2016-05-20 10:31:15|kitchen counter|      false|573e8503cd03c9af2...|
| 730075| 804466|         payment|2016-05-26 04:46:45|           Food|      false|57461d46cd03c9af2...|
|5221751|4993533|         payment|2016-07-14 22:53:49|          Zaxby|      false|5787b58d23e064eac...|
|6843582|7308338|         payment|2016-08-31 10:32:46|      Fan sucks|      false|57c64fdf23e064eac...|
+-------+-------+----------------+-------------------+---------------+-----------+--------------------+
only showing top 10 rows

## Get the column of user who make the transaction

In [0]:
def exchange(x,y,z):
  if x == 'charge':
    return z
  else:
    return y

In [0]:
def exchange2(x,y,z):
  if x == 'charge':
    return y
  else:
    return z

In [0]:
import pyspark.sql.functions as F
udf_exchange = F.udf(exchange)
udf_exchange2 = F.udf(exchange2)
venmo = venmo.withColumn('user_1',udf_exchange(venmo.transaction_type,venmo.user1,venmo.user2))
venmo = venmo.withColumn('user_2',udf_exchange2(venmo.transaction_type,venmo.user1,venmo.user2))

In [0]:
venmo.show(10)

+-------+-------+----------------+-------------------+---------------+-----------+--------------------+-------+-------+
|  user1|  user2|transaction_type|           datetime|    description|is_business|            story_id| user_1| user_2|
+-------+-------+----------------+-------------------+---------------+-----------+--------------------+-------+-------+
|1218774|1528945|         payment|2015-11-27 10:48:19|           Uber|      false|5657c473cd03c9af2...|1218774|1528945|
|5109483|4782303|         payment|2015-06-17 11:37:04|         Costco|      false|5580f9702b64f70ab...|5109483|4782303|
|4322148|3392963|         payment|2015-06-19 07:05:31|   Sweaty balls|      false|55835ccb1a624b14a...|4322148|3392963|
| 469894|1333620|          charge|2016-06-03 23:34:13|             üé•|      false|5751b185cd03c9af2...|1333620| 469894|
|2960727|3442373|         payment|2016-05-29 23:23:42|              ‚ö°|      false|574b178ecd03c9af2...|2960727|3442373|
|3977544|2709470|         payment|2016-09-29 22:12:07|     Chipotlaid|      false|57ed2f4723e064eac...|3977544|2709470|
|3766386|4209061|         payment|2016-05-20 10:31:15|kitchen counter|      false|573e8503cd03c9af2...|3766386|4209061|
| 730075| 804466|         payment|2016-05-26 04:46:45|           Food|      false|57461d46cd03c9af2...| 730075| 804466|
|5221751|4993533|         payment|2016-07-14 22:53:49|          Zaxby|      false|5787b58d23e064eac...|5221751|4993533|
|6843582|7308338|         payment|2016-08-31 10:32:46|      Fan sucks|      false|57c64fdf23e064eac...|6843582|7308338|
+-------+-------+----------------+-------------------+---------------+-----------+--------------------+-------+-------+
only showing top 10 rows

##Q1: Use the text dictionary and the emoji dictionary to classify Venmo's transactions in your sample dataset.

In [0]:
# clean texts
def clean_text(column): 
    column = lower(column)
    column = regexp_replace(column, "'ve", " have") 
    column = regexp_replace(column, "'m", " am") 
    column = regexp_replace(column, "'d", " would") 
    column = regexp_replace(column, "'s", " is") 
    column = regexp_replace(column, "can't", " can not") 
    column = regexp_replace(column, "n't", " not") 
    column = regexp_replace(column, "'re", " are") 
    column = regexp_replace(column, u"[\'\"/|\?=!#&;]", "") 
    return column 
 
venmo = venmo.select("story_id", "user_1","user_2", "datetime",clean_text(venmo.description).alias('description')) 
venmo.show(20, False)

+------------------------+--------+-------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|story_id                |user_1  |user_2 |datetime           |description                                                                                                                                                                                                                                                                                         |
+------------------------+--------+-------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|5657c473cd03c9af22cff874|1218774 |1528945|2015-11-27 10:48:19|uber                                                                                                                                                                                                                                                                                                |
|5580f9702b64f70ab0114e94|5109483 |4782303|2015-06-17 11:37:04|costco                                                                                                                                                                                                                                                                                              |
|55835ccb1a624b14ac62cef4|4322148 |3392963|2015-06-19 07:05:31|sweaty balls                                                                                                                                                                                                                                                                                        |
|5751b185cd03c9af224c0d17|1333620 |469894 |2016-06-03 23:34:13|üé•                                                                                                                                                                                                                                                                                                  |
|574b178ecd03c9af22cf67f4|2960727 |3442373|2016-05-29 23:23:42|‚ö°                                                                                                                                                                                                                                                                                                   |
|57ed2f4723e064eac0879304|3977544 |2709470|2016-09-29 22:12:07|chipotlaid                                                                                                                                                                                                                                                                                          |
|573e8503cd03c9af2200360e|3766386 |4209061|2016-05-20 10:31:15|kitchen counter                                                                                                                                                                                                                                                                                     |
|57461d46cd03c9af227dade4|730075  |804466 |2016-05-26 04:46:45|food                                                                                                                                                                                                                                                                                                |
|5787b58d23e064eac0126cfa|5221751 |4993533|2016-07-14 22:53:49|zaxby                                                                                                                                                                                                                                                                                               |
|57c64fdf23e064eac0e88f69|6843582 |7308338|2016-08-31 10:32:46|fan sucks                                                                                                                                                                                                                                                                                           |
|5689c6bdcd03c9af224a8cbc|5317324 |3942984|2016-01-04 09:11:25|üë†                                                                                                                                                                                                                                                                                                  |
|5616bbc0cd03c9af22ab332f|1134661 |1556430|2015-10-09 01:53:52|thanks babe                                                                                                                                                                                                                                                                                         |
|561080a1cd03c9af226311e2|4238868 |4879587|2015-10-04 08:28:01|üç∫                                                                                                                                                                                                                                                                                                  |
|577e69e723e064eac070091a|11719500|8702716|2016-07-07 21:40:39|‚õΩ                                                                                                                                                                                                                                                                                                   |
|58032fad23e064eac0b897f4|3625798 |5692302|2016-10-16 14:43:41|hey man  it is been a long time since i have last seen you. regardless  time spent with you and the boys is time well spent. i would not trade it for anyone else  and for that i can never repay you. anyways  enjoy this dollar you slimy fuck  i would not want to waste my pennies any other way|
|572d2bd9cd03c9af22d0be94|3045405 |613908 |2016-05-07 06:42:17|getaway car                                                                                                                                                                                                                                                                                         |
|56cd03e4cd03c9af225aabfe|4682257 |1870271|2016-02-24 09:14:12|üîÆ gypsy things                                                                                                                                                                                                                                                                                     |
|570866c2cd03c9af223706e1|9414481 |2869012|2016-04-09 09:19:46|üî¥                                                                                                                                                                                                                                                                                                  |
|5557cc0407f81c33ec77d16f|241386  |2580543|2015-05-17 06:00:19|furniture                                                                                                                                                                                                                                                                                           |
|52ac6e93d56b6bac5c6a8ec2|656214  |656477 |2013-12-14 22:43:27|bed bath mostly beyond                                                                                                                                                                                                                                                                              |
+------------------------+--------+-------+-------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [0]:
t = TweetTokenizer()

In [0]:
# classify transaction, split every word in each description and use the first one that match
def mapping(description):
  for i in t.tokenize(description):
    if i.lower() in dict_word.keys():
      return dict_word[i.lower()]
    elif i in dict_emoji.keys():
      return dict_emoji[i]
    else:
      continue
  return 'no conclusion'

In [0]:
udf_mapping = F.udf(mapping)
venmo = venmo.withColumn('Classification',udf_mapping(venmo.description))

In [0]:
venmo.show(20)

+--------------------+--------+-------+-------------------+--------------------+---------------+
|            story_id|  user_1| user_2|           datetime|         description| Classification|
+--------------------+--------+-------+-------------------+--------------------+---------------+
|5657c473cd03c9af2...| 1218774|1528945|2015-11-27 10:48:19|                uber| Transportation|
|5580f9702b64f70ab...| 5109483|4782303|2015-06-17 11:37:04|              costco|           Food|
|55835ccb1a624b14a...| 4322148|3392963|2015-06-19 07:05:31|        sweaty balls|Illegal/Sarcasm|
|5751b185cd03c9af2...| 1333620| 469894|2016-06-03 23:34:13|                  üé•|          Event|
|574b178ecd03c9af2...| 2960727|3442373|2016-05-29 23:23:42|                   ‚ö°|        Utility|
|57ed2f4723e064eac...| 3977544|2709470|2016-09-29 22:12:07|          chipotlaid|  no conclusion|
|573e8503cd03c9af2...| 3766386|4209061|2016-05-20 10:31:15|     kitchen counter|        Utility|
|57461d46cd03c9af2...|  730075| 804466|2016-05-26 04:46:45|                food|           Food|
|5787b58d23e064eac...| 5221751|4993533|2016-07-14 22:53:49|               zaxby|  no conclusion|
|57c64fdf23e064eac...| 6843582|7308338|2016-08-31 10:32:46|           fan sucks|  no conclusion|
|5689c6bdcd03c9af2...| 5317324|3942984|2016-01-04 09:11:25|                  üë†|  no conclusion|
|5616bbc0cd03c9af2...| 1134661|1556430|2015-10-09 01:53:52|         thanks babe|         People|
|561080a1cd03c9af2...| 4238868|4879587|2015-10-04 08:28:01|                  üç∫|           Food|
|577e69e723e064eac...|11719500|8702716|2016-07-07 21:40:39|                   ‚õΩ| Transportation|
|58032fad23e064eac...| 3625798|5692302|2016-10-16 14:43:41|hey man  it is be...|           Cash|
|572d2bd9cd03c9af2...| 3045405| 613908|2016-05-07 06:42:17|         getaway car| Transportation|
|56cd03e4cd03c9af2...| 4682257|1870271|2016-02-24 09:14:12|     üîÆ gypsy things|  no conclusion|
|570866c2cd03c9af2...| 9414481|2869012|2016-04-09 09:19:46|                  üî¥|  no conclusion|
|5557cc0407f81c33e...|  241386|2580543|2015-05-17 06:00:19|           furniture|        Utility|
|52ac6e93d56b6bac5...|  656214| 656477|2013-12-14 22:43:27|bed bath mostly b...|        Utility|
+--------------------+--------+-------+-------------------+--------------------+---------------+
only showing top 20 rows

## Q2 : What is the percent of emoji only transactions? Which are the top 5 most popular emoji? Which are the top three most popular emoji categories?

In [0]:
!pip install emoji

Collecting emoji
  Downloading https://files.pythonhosted.org/packages/40/8d/521be7f0091fe0f2ae690cc044faf43e3445e0ff33c574eae752dd7e39fa/emoji-0.5.4.tar.gz (43kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 51kB 2.6MB/s
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-0.5.4-cp36-none-any.whl size=42176 sha256=c88233e51b941a66ad859aa1c068cdb196207a8979bce0e599a30023ad109668
  Stored in directory: /root/.cache/pip/wheels/2a/a9/0a/4f8e8cce8074232aba240caca3fade315bb49fac68808d1a9c
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-0.5.4

In [0]:
import emoji
def only_emoji(s):
  for i in t.tokenize(s):
    if i not in emoji.UNICODE_EMOJI:
      return 0
    else:
      continue
  return 1

In [0]:
from pyspark.sql.types import IntegerType
udf_emoji = F.udf(only_emoji,IntegerType())
venmo = venmo.withColumn('only_emoji',udf_emoji(venmo.description))

In [0]:
venmo.show()

+--------------------+--------+-------+-------------------+--------------------+---------------+----------+
|            story_id|  user_1| user_2|           datetime|         description| Classification|only_emoji|
+--------------------+--------+-------+-------------------+--------------------+---------------+----------+
|5657c473cd03c9af2...| 1218774|1528945|2015-11-27 10:48:19|                uber| Transportation|         0|
|5580f9702b64f70ab...| 5109483|4782303|2015-06-17 11:37:04|              costco|           Food|         0|
|55835ccb1a624b14a...| 4322148|3392963|2015-06-19 07:05:31|        sweaty balls|Illegal/Sarcasm|         0|
|5751b185cd03c9af2...| 1333620| 469894|2016-06-03 23:34:13|                  üé•|          Event|         1|
|574b178ecd03c9af2...| 2960727|3442373|2016-05-29 23:23:42|                   ‚ö°|        Utility|         1|
|57ed2f4723e064eac...| 3977544|2709470|2016-09-29 22:12:07|          chipotlaid|  no conclusion|         0|
|573e8503cd03c9af2...| 3766386|4209061|2016-05-20 10:31:15|     kitchen counter|        Utility|         0|
|57461d46cd03c9af2...|  730075| 804466|2016-05-26 04:46:45|                food|           Food|         0|
|5787b58d23e064eac...| 5221751|4993533|2016-07-14 22:53:49|               zaxby|  no conclusion|         0|
|57c64fdf23e064eac...| 6843582|7308338|2016-08-31 10:32:46|           fan sucks|  no conclusion|         0|
|5689c6bdcd03c9af2...| 5317324|3942984|2016-01-04 09:11:25|                  üë†|  no conclusion|         1|
|5616bbc0cd03c9af2...| 1134661|1556430|2015-10-09 01:53:52|         thanks babe|         People|         0|
|561080a1cd03c9af2...| 4238868|4879587|2015-10-04 08:28:01|                  üç∫|           Food|         1|
|577e69e723e064eac...|11719500|8702716|2016-07-07 21:40:39|                   ‚õΩ| Transportation|         1|
|58032fad23e064eac...| 3625798|5692302|2016-10-16 14:43:41|hey man  it is be...|           Cash|         0|
|572d2bd9cd03c9af2...| 3045405| 613908|2016-05-07 06:42:17|         getaway car| Transportation|         0|
|56cd03e4cd03c9af2...| 4682257|1870271|2016-02-24 09:14:12|     üîÆ gypsy things|  no conclusion|         0|
|570866c2cd03c9af2...| 9414481|2869012|2016-04-09 09:19:46|                  üî¥|  no conclusion|         1|
|5557cc0407f81c33e...|  241386|2580543|2015-05-17 06:00:19|           furniture|        Utility|         0|
|52ac6e93d56b6bac5...|  656214| 656477|2013-12-14 22:43:27|bed bath mostly b...|        Utility|         0|
+--------------------+--------+-------+-------------------+--------------------+---------------+----------+
only showing top 20 rows

In [0]:
venmo.select('description').show()

In [0]:
# counting the percent of emoji only transactions
emoji_count = venmo.groupby('only_emoji').sum().collect()[0][1]
emoji_percentage = emoji_count/venmo.count()
emoji_percentage

0.24025869317573947

In [0]:
venmo[venmo.only_emoji==1].show(n=10)

+--------------------+--------+-------+-------------------+-----------+--------------+----------+
|            story_id|  user_1| user_2|           datetime|description|Classification|only_emoji|
+--------------------+--------+-------+-------------------+-----------+--------------+----------+
|5751b185cd03c9af2...| 1333620| 469894|2016-06-03 23:34:13|         üé•|         Event|         1|
|574b178ecd03c9af2...| 2960727|3442373|2016-05-29 23:23:42|          ‚ö°|       Utility|         1|
|5689c6bdcd03c9af2...| 5317324|3942984|2016-01-04 09:11:25|         üë†| no conclusion|         1|
|561080a1cd03c9af2...| 4238868|4879587|2015-10-04 08:28:01|         üç∫|          Food|         1|
|577e69e723e064eac...|11719500|8702716|2016-07-07 21:40:39|          ‚õΩ|Transportation|         1|
|570866c2cd03c9af2...| 9414481|2869012|2016-04-09 09:19:46|         üî¥| no conclusion|         1|
|528e752fd56b6bac5...|  444145| 323088|2013-11-22 05:03:43|       ‚úå‚ù§üèà|        People|         1|
|5574690d5d6cc8135...|  270958|2086141|2015-06-07 22:53:49|       üë∞üë∞|         Event|         1|
|56803e8dcd03c9af2...| 1243615|1120425|2015-12-28 03:39:57|     üçïüçïüçï|          Food|         1|
|5577a133ca81793e3...| 2743865|2896157|2015-06-10 09:30:11|         üçï|          Food|         1|
+--------------------+--------+-------+-------------------+-----------+--------------+----------+
only showing top 10 rows

### Which are the top 5 most popular emoji?

In [0]:
# top 5 most popular emoji 
# strip characters 
def remove_text(column): 
    column = lower(column) 
    column = regexp_replace(column, u"[ -.+a-zA-Z0-9]", "") 
    column = regexp_replace(column, u"[\'\"/|\?=!]", "") 
    return column 
 
emojiOnly = venmo.select(remove_text(col('description')).alias('description')) 
emojiOnly.show(10, False)

+-----------+
|description|
+-----------+
|           |
|           |
|           |
|üé•         |
|‚ö°          |
|           |
|           |
|           |
|           |
|           |
+-----------+
only showing top 10 rows

In [0]:
from pyspark.sql.types import StringType,ArrayType

In [0]:
# tokenize each emoji 
def separate_emoji(text): 
    return t.tokenize(text) 
 
myfunc = udf(separate_emoji, ArrayType(StringType())) 
tokenizedEmoji = emojiOnly.withColumn("description", myfunc("description"))
tokenizedEmoji.show(50)

+------------+
| description|
+------------+
|          []|
|          []|
|          []|
|        [üé•]|
|         [‚ö°]|
|          []|
|          []|
|          []|
|          []|
|          []|
|        [üë†]|
|          []|
|        [üç∫]|
|         [‚õΩ]|
|          []|
|          []|
|        [üîÆ]|
|        [üî¥]|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|      [Ìú¥ÏßÄ]|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|          []|
|[üíÅ, üèª, üçï]|
|          []|
|[üéâ, üíû, üéâ]|
|          []|
|          []|
|  [‚úå, ‚ù§, üèà]|
|          []|
+------------+
only showing top 50 rows

In [0]:
tokenizedEmoji.printSchema

In [0]:
tokenizedEmoji\
    .select(explode("description")\
    .alias("emojis"))\
    .na.drop()\
    .groupBy("emojis")\
    .count()\
    .sort("count", ascending=False)\
    .show()

+------+------+
|emojis| count|
+------+------+
|     Ô∏è|324701|
|    üçï|152565|
|    üçª|131386|
|    üí∏|122138|
|    üç∑| 96442|
|    üéâ| 90742|
|    üèº| 88978|
|    üèª| 82656|
|    üç∫| 76615|
|    üè†| 65178|
|     ‚ù§| 63457|
|    üçæ| 59219|
|    üçπ| 58875|
|    üç¥| 57282|
|    üî•| 52930|
|    üíÉ| 52011|
|    üîå| 50683|
|     ‚òï| 50585|
|    üçî| 49586|
|     :| 49451|
+------+------+
only showing top 20 rows

### Which are the top three most popular emoji categories?

In [0]:
venmo[venmo.only_emoji==1].select('Classification').groupby('Classification').count().sort("count", ascending=False).show()

+--------------+------+
|Classification| count|
+--------------+------+
|          Food|588235|
| no conclusion|358688|
|        People|339207|
|      Activity|129377|
|Transportation|102226|
|       Utility|102152|
|         Event| 49025|
|        Travel| 40083|
+--------------+------+

## Q3. For each user, create a variable to indicate their spending behavior profile. For example, if a user has made 10 transactions, where 5 of them are food and the other 5 are activity, then the user‚Äôs spending profile will be 50% food and 50% activity.

In [0]:
venmo.registerTempTable('venmodata')

In [0]:
user_info = sqlContext.sql("select * from (select user_1,Classification,count(*) as number from venmodata group by user_1,Classification) as B join (select user_1,count(*) as all_classification from venmodata group by user_1) as A using (user_1) order by user_1")
user_info.show()

+--------+---------------+------+------------------+
|  user_1| Classification|number|all_classification|
+--------+---------------+------+------------------+
|      10|  no conclusion|     7|                12|
|      10|       Activity|     1|                12|
|      10|           Food|     4|                12|
|10000054|  no conclusion|     1|                 2|
|10000054|Illegal/Sarcasm|     1|                 2|
| 1000006|           Food|     1|                 8|
| 1000006|  no conclusion|     7|                 8|
| 1000007|  no conclusion|     2|                 5|
| 1000007|           Food|     2|                 5|
| 1000007|       Activity|     1|                 5|
| 1000009|  no conclusion|     6|                 8|
| 1000009|           Food|     1|                 8|
| 1000009|       Activity|     1|                 8|
|  100001|  no conclusion|     2|                 4|
|  100001|        Utility|     1|                 4|
|  100001|           Food|     1|                 4|
| 1000011|           Food|     1|                 1|
|10000123|  no conclusion|     1|                 2|
|10000123|       Activity|     1|                 2|
|10000128|  no conclusion|     3|                 4|
+--------+---------------+------+------------------+
only showing top 20 rows

In [0]:
user_info = user_info.withColumn('Classification_Percentage',user_info.number/user_info.all_classification)

In [0]:
user_info.show()

+--------+---------------+------+------------------+-------------------------+
|  user_1| Classification|number|all_classification|Classification_Percentage|
+--------+---------------+------+------------------+-------------------------+
|      10|           Food|     4|                12|       0.3333333333333333|
|      10|       Activity|     1|                12|      0.08333333333333333|
|      10|  no conclusion|     7|                12|       0.5833333333333334|
|10000054|  no conclusion|     1|                 2|                      0.5|
|10000054|Illegal/Sarcasm|     1|                 2|                      0.5|
| 1000006|  no conclusion|     7|                 8|                    0.875|
| 1000006|           Food|     1|                 8|                    0.125|
| 1000007|           Food|     2|                 5|                      0.4|
| 1000007|       Activity|     1|                 5|                      0.2|
| 1000007|  no conclusion|     2|                 5|                      0.4|
| 1000009|  no conclusion|     6|                 8|                     0.75|
| 1000009|           Food|     1|                 8|                    0.125|
| 1000009|       Activity|     1|                 8|                    0.125|
|  100001|  no conclusion|     2|                 4|                      0.5|
|  100001|        Utility|     1|                 4|                     0.25|
|  100001|           Food|     1|                 4|                     0.25|
| 1000011|           Food|     1|                 1|                      1.0|
|10000123|       Activity|     1|                 2|                      0.5|
|10000123|  no conclusion|     1|                 2|                      0.5|
|10000128|        Utility|     1|                 4|                     0.25|
+--------+---------------+------+------------------+-------------------------+
only showing top 20 rows

In [0]:
user_spending_behavior = user_info.groupby('user_1').pivot('Classification').avg('Classification_Percentage')
user_spending_behavior = user_spending_behavior.fillna(0)
user_spending_behavior.show()

+--------+-------------------+-------------------+-----+-------------------+-------------------+-------------------+------+-------------------+-------------------+
|  user_1|           Activity|               Cash|Event|               Food|    Illegal/Sarcasm|     Transportation|Travel|            Utility|      no conclusion|
+--------+-------------------+-------------------+-----+-------------------+-------------------+-------------------+------+-------------------+-------------------+
|      10|0.08333333333333333|                0.0|  0.0| 0.3333333333333333|                0.0|                0.0|   0.0|                0.0| 0.5833333333333334|
|10000054|                0.0|                0.0|  0.0|                0.0|                0.5|                0.0|   0.0|                0.0|                0.5|
| 1000006|                0.0|                0.0|  0.0|              0.125|                0.0|                0.0|   0.0|                0.0|              0.875|
| 1000007|                0.2|                0.0|  0.0|                0.4|                0.0|                0.0|   0.0|                0.0|                0.4|
| 1000009|              0.125|                0.0|  0.0|              0.125|                0.0|                0.0|   0.0|                0.0|               0.75|
|  100001|                0.0|                0.0|  0.0|               0.25|                0.0|                0.0|   0.0|               0.25|                0.5|
| 1000011|                0.0|                0.0|  0.0|                1.0|                0.0|                0.0|   0.0|                0.0|                0.0|
|10000123|                0.5|                0.0|  0.0|                0.0|                0.0|                0.0|   0.0|                0.0|                0.5|
|10000128|                0.0|                0.0|  0.0|                0.0|                0.0|                0.0|   0.0|               0.25|               0.75|
| 1000013|0.05263157894736842|0.05263157894736842|  0.0|0.21052631578947367|                0.0|0.10526315789473684|   0.0|0.05263157894736842| 0.5263157894736842|
|10000139|                0.5|                0.0|  0.0|                0.0|                0.0|                0.0|   0.0|                0.0|                0.5|
| 1000015|                0.5|                0.0|  0.0|                0.0|                0.0|                0.0|   0.0|                0.0|                0.5|
| 1000016|                0.0|                0.0|  0.0|                0.0|0.14285714285714285|                0.0|   0.0|                0.0| 0.8571428571428571|
|10000197|                0.0|                0.0|  1.0|                0.0|                0.0|                0.0|   0.0|                0.0|                0.0|
|10000198|                0.0|                0.0|  0.0|                0.0|                1.0|                0.0|   0.0|                0.0|                0.0|
| 1000022|0.14285714285714285|                0.0|  0.0| 0.2857142857142857|                0.0|                0.0|   0.0|0.14285714285714285|0.42857142857142855|
| 1000024|                0.1|                0.0|  0.1|                0.0|                0.0|                0.0|   0.0|                0.2|                0.6|
|10000250|                0.0|                0.0|  0.0|                0.0|                0.0|                0.0|   0.0|                0.0|                1.0|
| 1000026|                0.0|                0.0|  0.0|                0.0|                0.0|                0.0|   0.0|                0.0|                1.0|
| 1000027|                0.0|                0.0|  0.0|                1.0|                0.0|                0.0|   0.0|                0.0|                0.0|
+--------+-------------------+-------------------+-----+-------------------+-------------------+-------------------+------+-------------------+-------------------+
only showing top 20 rows

## Q4 : In the previous question, you got a static spending profile. However, life and social networks are evolving over time. Therefore, let‚Äôs explore how a user‚Äôs spending profile is evolving over her lifetime in Venmo. First of all, you need to analyze a user‚Äôs transactions in monthly intervals, starting from 0 (indicating their first transaction only) up to 12.

In [0]:
# get users who joined Venmo for at least 12 months
query =\
"""
SELECT
    user_1,
    "0,1,2,3,4,5,6,7,8,9,10,11,12" AS months,
    "Food,Transportation,Event,Utility,Cash,Illegal/Sarcasm,Activity,People,Travel,no conclusion" AS topic
FROM
    venmodata
WHERE
    DATEDIFF(DATE("2016-11-30"), datetime) >= 360
GROUP BY
    user_1
ORDER by user_1
"""
old_cust = spark.sql(query)\
    .withColumn("months", split(col("months"), ",\s*")\
    .cast(ArrayType(IntegerType())).alias("months"))\
    .select("user_1", "topic", explode("months").alias("months"))\
    .withColumn("topic", split(col("topic"), ",\s*")\
    .cast(ArrayType(StringType())).alias("topic"))\
    .select("user_1", "months", explode("topic").alias("topic"))
old_cust.createOrReplaceTempView("old_cust")

In [0]:
old_cust.show()

+------+------+---------------+
|user_1|months|          topic|
+------+------+---------------+
|    10|     0|           Food|
|    10|     0| Transportation|
|    10|     0|          Event|
|    10|     0|        Utility|
|    10|     0|           Cash|
|    10|     0|Illegal/Sarcasm|
|    10|     0|       Activity|
|    10|     0|         People|
|    10|     0|         Travel|
|    10|     0|  no conclusion|
|    10|     1|           Food|
|    10|     1| Transportation|
|    10|     1|          Event|
|    10|     1|        Utility|
|    10|     1|           Cash|
|    10|     1|Illegal/Sarcasm|
|    10|     1|       Activity|
|    10|     1|         People|
|    10|     1|         Travel|
|    10|     1|  no conclusion|
+------+------+---------------+
only showing top 20 rows

In [0]:
# combine user's classification, age, and count of classification at an age
query =\
"""
SELECT
    *,
    (COUNT(*) OVER (PARTITION BY user_1, Classification ORDER BY cust_age ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)) AS topic_accu
FROM
    (SELECT
        user_1,
        Classification,
        CASE
            WHEN datetime = (MIN(datetime) OVER (PARTITION BY user_1)) THEN 0
            ELSE CEIL(DATEDIFF(datetime, (MIN(datetime) OVER (PARTITION BY user_1)))/30) 
            END AS cust_age
    FROM
        venmodata 
    WHERE user_1
        IN (SELECT user_1 FROM old_cust GROUP BY user_1))
ORDER BY user_1, cust_age, Classification
"""
pre_profile = spark.sql(query)
pre_profile.createOrReplaceTempView("pre_profile")

In [0]:
pre_profile.show(5)

In [0]:
# generate a unpivoted complete user profile
query =\
"""
SELECT
    user_1,
    months,
    topic,
    topic_accu,
    CASE
        WHEN LAST(topic_monthly_percentage) IS NULL THEN 0
        ELSE LAST(topic_monthly_percentage) END AS topic_monthly_percentage
FROM
    (SELECT
        o.user_1,
        o.months,
        o.topic,
        SUM(p.topic_accu) OVER (PARTITION BY o.user_1) AS topic_accu,
        ((SUM(topic_accu) OVER (PARTITION BY o.user_1, o.months, o.topic)) / (SUM(topic_accu) OVER (PARTITION BY o.user_1, o.months))) AS topic_monthly_percentage
    FROM
        old_cust o
    LEFT JOIN
        pre_profile p
        ON p.user_1 = o.user_1
        AND o.months = p.cust_age
        AND o.topic = p.Classification)
GROUP BY user_1, months, topic, topic_accu
ORDER BY user_1, months, topic
"""
userProfile = spark.sql(query)
userProfile.createOrReplaceTempView("userProfile")

In [0]:
# pivot user profile, make it suitable for analytical works
userProfile_pivoted = userProfile\
  .groupBy("user_1", "months", "topic_accu")\
  .pivot("topic")\
  .avg("topic_monthly_percentage")\
  .sort("user_1", "months")

userProfile_pivoted.createOrReplaceTempView("userProfile_pivoted")

In [0]:
spark.sql("select * from userProfile_pivoted").show(50)

## Q5 : Write a script to find a user‚Äôs friends and friends of friends (Friend definition: A user‚Äôs friend is someone who has transacted with the user, either sending money to the user or receiving money from the user). Describe your algorithm and calculate its computational complexity. Can you do it better?

In [0]:
# friends
query = """
select distinct * from
(select distinct user_1,user_2 from venmodata
union
select distinct user_2,user_1 from venmodata)
order by user_1
"""
Friends = spark.sql(query)

In [0]:
Friends.show(5)

+------+-------+
|user_1| user_2|
+------+-------+
|    10|  36523|
|    10|     43|
|    10| 133032|
|    10|3844713|
|    10|     13|
+------+-------+
only showing top 5 rows

In [0]:
# friends of friends
query = """
select * from
(select distinct user_1,user_2 from venmodata) as a
join
(select distinct user_2,user_1 from venmodata) as b
on a.user_2 = b.user_2 
where a.user_1<>b.user_1
order by a.user_1
"""
FriendsOfFriends = spark.sql(query)

In [0]:
FriendsOfFriends.show(5)

+------+------+------+-------+
|user_1|user_2|user_2| user_1|
+------+------+------+-------+
|    10|    43|    43|  47104|
|    10|    43|    43|1491816|
|    10|    43|    43|     96|
|    10|    43|    43|  72106|
|    10|    43|    43|  82697|
+------+------+------+-------+
only showing top 5 rows

In [0]:
# get the friends of friends different from friends
query = """
select friends.user_1,friends.user_2,fof.fofs
from
(select distinct * from
(select distinct user_1,user_2 from venmodata
union
select distinct user_2,user_1 from venmodata)) as friends
join
(select * from
(select distinct user_1,user_2 from venmodata) as a
join
(select distinct user_2,user_1 as fofs from venmodata) as b
on a.user_2 = b.user_2 
where a.user_1<>b.fofs) as fof
using (user_1)
where friends.user_2<>fof.fofs
"""
network = spark.sql(query)

In [0]:
network.show(5)

+-------+------+-------+
| user_1|user_2|   fofs|
+-------+------+-------+
|1000240|899483|1070763|
|1000240|899483| 564546|
|1000240|899483| 731901|
|1000280|627873| 385136|
|1000280|627873| 766966|
+-------+------+-------+
only showing top 5 rows

## Q6 i): Number of friends and number of friends of friends

In [0]:
# create an undirected transaction history and calculate customer's age
query = \
"""
SELECT
    *,
    CASE WHEN datetime = (MIN(datetime) OVER (PARTITION BY user1)) THEN 0
         ELSE CEIL(DATEDIFF(datetime, (MIN(datetime) OVER (PARTITION BY user1)))/30) 
         END AS cust_age
FROM
    (SELECT
        *,
        MIN(datetime) OVER (PARTITION BY user1) AS join_date
    FROM
        (SELECT
            user1, user2, datetime, story_id
        FROM
            venmodata
        UNION ALL
        SELECT
            user1 AS user2,
            user2 AS user1,
            datetime,
            story_id
        FROM
            venmodata))
"""

customerAge = spark.sql(query)
customerAge.cache()
customerAge.createOrReplaceTempView("customerAge")

In [0]:
# number of friend at each month
query = \
"""
SELECT
    user1,
    cust_age,
    count(*) OVER (PARTITION BY user1 ORDER BY cust_age ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS num_of_friend
FROM
    customerAge
GROUP BY user1, cust_age
ORDER BY user1, cust_age
"""
fof = spark.sql(query)
fof.show(5000)

In [0]:
# number of friend of friend at each month
query = \
"""
SELECT
    t1.user1,
    t1.cust_age,
    count(*) OVER (PARTITION BY t1.user1 ORDER BY t1.cust_age ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS num_of_friend_of_friend
FROM
    customerAge t1
LEFT JOIN
    customerAge t2
ON
    t2.user1 = t1.user2
WHERE
    t2.user2 != t1.user1
GROUP BY t1.user1, t1.cust_age
ORDER BY t1.user1, t1.cust_age
"""
fofof = spark.sql(query)
fofof.show(5000)

## ii) Clustering coefficient of a user's network

In [0]:
!pip install networkx

Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (2.4)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx) (4.4.2)

In [0]:
import networkx as nx
G = nx.Graph()

In [0]:
# get nodes
nodes = sqlContext.sql('select distinct * from (select distinct user_1 from venmodata union select distinct user_2 from venmodata)')

In [0]:
nodes.show()

+-------+
| user_1|
+-------+
|1218774|
|2954885|
|2517841|
|2073451|
|2413583|
| 629853|
|2594217|
|1912151|
|1676425|
|3817326|
|1404141|
|4109722|
|7209296|
| 244335|
|2325198|
|2515048|
|4168921|
|4414119|
| 709070|
|8671440|
+-------+
only showing top 20 rows

In [0]:
# adjust format
import numpy as np
nodes = np.array(nodes.select('user_1').collect())
nodes = nodes.flatten()

In [0]:
# add nodes to graph
G.add_nodes_from(nodes)

In [0]:
# get edges
edges = sqlContext.sql('select distinct user_1,user_2 from venmodata')

In [0]:
# adjust edges format
edges = edges.toPandas().to_records(index=False)

In [0]:
# add edges
G.add_edges_from(edges)

In [0]:
G.number_of_nodes()

3018657

In [0]:
G.number_of_edges()

4997781

In [0]:
# get clustering coefficient
clustering_coefficient = nx.clustering(G)

In [0]:
clustering_coefficient

{'1218774': 0.2,
 '2954885': 0.16666666666666666,
 '2517841': 0.12535612535612536,
 '2073451': 0,
 '2413583': 1.0,
 '629853': 0.01282051282051282,
 '2594217': 0.07142857142857142,
 '1912151': 0.3333333333333333,
 '1676425': 0.6666666666666666,
 '3817326': 0.027777777777777776,
 '1404141': 0.06666666666666667,
 '4109722': 0,
 '7209296': 0.16666666666666666,
 '244335': 0.01282051282051282,
 '2325198': 0.16666666666666666,
 '2515048': 0,
 '4168921': 0,
 '4414119': 0.027777777777777776,
 '709070': 0.6666666666666666,
 '8671440': 0,
 '6992124': 0,
 '6306283': 0,
 '259573': 0,
 '2033208': 0,
 '7265298': 0,
 '2714565': 0,
 '5234705': 0.038461538461538464,
 '1312763': 0.0641025641025641,
 '577022': 0.030303030303030304,
 '7302035': 0.07142857142857142,
 '4014797': 0.3333333333333333,
 '1814091': 0.3333333333333333,
 '6125769': 0,
 '3850225': 0.0784313725490196,
 '8686584': 0,
 '3993846': 0,
 '2067476': 0.1388888888888889,
 '78888': 0,
 '6500880': 0.13333333333333333,
 '4634909': 0.09090909090909091,
 '222581': 0.06666666666666667,
 '3434669': 1.0,
 '4546726': 0,
 '1905607': 0,
 '179713': 0.03333333333333333,
 '7334130': 0,
 '7102837': 0.1,
 '753598': 0,
 '7080377': 1.0,
 '3834412': 0,
 '1720188': 0.16666666666666666,
 '4467003': 0,
 '3165150': 0.3333333333333333,
 '1049569': 0,
 '2860179': 0.24444444444444444,
 '1220142': 0.09523809523809523,
 '1986517': 0,
 '593473': 0,
 '921676': 0.1,
 '1483113': 0.17777777777777778,
 '2534430': 0.13333333333333333,
 '1077907': 0,
 '4219307': 0,
 '3972279': 0,
 '472913': 0.06666666666666667,
 '2247362': 0.027777777777777776,
 '323208': 0,
 '5956678': 0.23809523809523808,
 '1796707': 0.14285714285714285,
 '3459018': 0.05555555555555555,
 '3339690': 0,
 '5000949': 0,
 '1297311': 0.06349206349206349,
 '953497': 0.03571428571428571,
 '1453447': 0.0008163265306122449,
 '2576838': 0,
 '59891': 0.1282051282051282,
 '897475': 0,
 '4523148': 0,
 '1986510': 0.47619047619047616,
 '1708442': 0.09523809523809523,
 '392536': 0.22727272727272727,
 '4025314': 0.027777777777777776,
 '2580563': 0.17857142857142858,
 '162875': 0.07575757575757576,
 '4954982': 0,
 '170392': 0,
 '6997441': 0.6,
 '664745': 0.14166666666666666,
 '1815013': 0.06666666666666667,
 '2493619': 0,
 '2180641': 0.09090909090909091,
 '3836254': 0,
 '4914787': 1.0,
 '7170522': 0,
 '123722': 0.18181818181818182,
 '7930478': 0,
 '1219138': 0,
 '2461926': 0.06060606060606061,
 '600735': 0.05555555555555555,
 '767382': 0.2,
 '6389863': 0.16666666666666666,
 '5512018': 0,
 '988016': 0.022222222222222223,
 '1010896': 0.14285714285714285,
 '1331006': 0,
 '551072': 0.04395604395604396,
 '777908': 0.05263157894736842,
 '2129502': 0,
 '852363': 0.05128205128205128,
 '762548': 0.10476190476190476,
 '2021785': 0.23809523809523808,
 '3294255': 0.2,
 '922232': 0.06666666666666667,
 '3022572': 0.07692307692307693,
 '431390': 0.0915032679738562,
 '457055': 0.07575757575757576,
 '4508153': 0.10909090909090909,
 '952492': 0.06666666666666667,
 '709335': 0.12727272727272726,
 '3024044': 0,
 '1086434': 0,
 '5998445': 0,
 '3151037': 0.1388888888888889,
 '11689556': 0,
 '4442840': 0.09523809523809523,
 '8893859': 0.027777777777777776,
 '8541156': 0,
 '621533': 0.1111111111111111,
 '1551506': 0.2,
 '2071071': 0,
 '4504528': 0.06666666666666667,
 '1411279': 0.13333333333333333,
 '157380': 0.125,
 '3096348': 0.13333333333333333,
 '1696116': 0,
 '933906': 0,
 '5277423': 0.3333333333333333,
 '1852083': 0.3333333333333333,
 '12392825': 0,
 '3623094': 0.24444444444444444,
 '1190900': 0.1388888888888889,
 '7748884': 0,
 '3429295': 0.09090909090909091,
 '2172154': 0.5,
 '2039526': 0,
 '148701': 0,
 '683185': 0.027777777777777776,
 '1199319': 0.21428571428571427,
 '8086087': 0,
 '8512117': 0,
 '3577841': 0.056818181818181816,
 '4429660': 0.3333333333333333,
 '2986434': 0,
 '580490': 0.022222222222222223,
 '1429386': 0,
 '1742653': 0,
 '2371585': 0,
 '646683': 0,
 '1375102': 0.031578947368421054,
 '8805595': 0,
 '4535569': 0,
 '1734557': 0.13071895424836602,
 '6605122': 0,
 '351343': 0.14545454545454545,
 '1499836': 0,
 '1075364': 0.06666666666666667,
 '3060706': 0,
 '3534205': 1.0,
 '3701441': 0.047619047619047616,
 '2449708': 0,
 '3444061': 0.16666666666666666,
 '2695374': 0.22727272727272727,
 '2607411': 0,
 '336437': 0.10144927536231885,
 '5774273': 0,
 '786418': 0.010526315789473684,
 '9220319': 0,
 '3723115': 0,
 '1730327': 0,
 '847315': 0.02564102564102564,
 '4828905': 0.2,
 '6111261': 0.21428571428571427,
 '1328631': 0,
 '9864505': 0,
 '59467': 0.32142857142857145,
 '1536872': 0,
 '6239038': 0.01818181818181818,
 '531979': 0.3333333333333333,
 '3431743': 0,
 '2529778': 0.03296703296703297,
 '724791': 0.6666666666666666,
 '813455': 0.2,
 '1077590': 0.1,
 '2736756': 0.030303030303030304,
 '1852409': 0,
 '1560328': 0.07692307692307693,
 '6697474': 0,
 '1526012': 0,
 '6468412': 0,
 '9219603': 0,
 '3049252': 0,
 '686603': 0,
 '4498628': 0.06666666666666667,
 '1162786': 0.047619047619047616,
 '779392': 0.022222222222222223,
 '223506': 0.1341991341991342,
 '553470': 0.058333333333333334,
 '2033492': 0.16911764705882354,
 '1479884': 0.23809523809523808,
 '380460': 0,
 '793299': 0.10909090909090909,
 '2442146': 0.047619047619047616,
 '3244968': 0,
 '7313397': 0,
 '2771473': 0.023391812865497075,
 '209643': 0.16666666666666666,
 '11359220': 0,
 '370925': 0.047619047619047616,
 '1897302': 0.3333333333333333,
 '2549554': 0.09523809523809523,
 '3830757': 0.16666666666666666,
 '8261126': 0,
 '1246374': 0.25,
 '4906427': 0,
 '5447261': 0,
 '332661': 0.013071895424836602,
 '3061118': 0.3,
 '2575271': 0.03571428571428571,
 '5035159': 0.3333333333333333,
 '5973720': 0.06666666666666667,
 '884509': 0.07575757575757576,
 '2120038': 0.2,
 '4423537': 0.3333333333333333,
 '1944298': 0,
 '1713687': 0.1,
 '439051': 0.1,
 '85022': 0.08333333333333333,
 '2404910': 0,
 '875598': 0.3611111111111111,
 '1286991': 0.16666666666666666,
 '460901': 0.125,
 '5749925': 0,
 '839366': 0.047619047619047616,
 '532513': 0,
 '2140847': 0,
 '6608063': 0,
 '5314762': 0.075,
 '1488652': 0.1111111111111111,
 '2327622': 0,
 '3119185': 0.031578947368421054,
 '2890330': 0.19444444444444445,
 '2342547': 0.14285714285714285,
 '2077742': 0,
 '3071203': 0.3333333333333333,
 '657824': 0.0380952380952381,
 '8116219': 0,
 '891250': 0.14285714285714285,
 '1084219': 0.047619047619047616,
 '811320': 0.09523809523809523,
 '1266411': 0.23809523809523808,
 '2339543': 0.10606060606060606,
 '2897907': 0.044444444444444446,
 '4170962': 0,
 '732887': 0.3333333333333333,
 '1165756': 0.21428571428571427,
 '1448420': 0,
 '2172233': 0.032679738562091505,
 '1766941': 0.1111111111111111,
 '5413776': 0,
 '859572': 0,
 '2864956': 0.0761904761904762,
 '600087': 0,
 '1314308': 0,
 '2110530': 0.025,
 '2463434': 0.11666666666666667,
 '4483400': 0,
 '1099616': 0,
 '544259': 0,
 '1038239': 0.10909090909090909,
 '3961244': 0.16666666666666666,
 '1436356': 0.08187134502923976,
 '3691477': 0.07142857142857142,
 '6162619': 0.3333333333333333,
 '1233532': 0,
 '5677346': 0.16666666666666666,
 '6217761': 0,
 '2839503': 0.1,
 '293258': 0.03571428571428571,
 '617780': 0.06666666666666667,
 '7398836': 0,
 '6703079': 0.35714285714285715,
 '6336085': 0.5,
 '5781834': 0,
 '7707740': 0,
 '7792978': 0,
 '2581719': 0.3333333333333333,
 '556758': 0.06666666666666667,
 '366716': 0.05555555555555555,
 '1943458': 0,
 '8538670': 0,
 '7701529': 0,
 '474834': 0.023333333333333334,
 '1532510': 0,
 '934326': 0.047619047619047616,
 '6901766': 0,
 '1035968': 0.0457516339869281,
 '1749812': 0.06666666666666667,
 '6212481': 0,
 '823590': 0.16666666666666666,
 '1707026': 0.030303030303030304,
 '367230': 0.09166666666666666,
 '3047108': 0,
 '3539628': 0.3,
 '2123279': 1.0,
 '576116': 0.06593406593406594,
 '2928469': 0,
 '1137819': 0.2222222222222222,
 '1929763': 0.3333333333333333,
 '215904': 0.04395604395604396,
 '856182': 0.1,
 '2679189': 0.07272727272727272,
 '5339460': 0,
 '1116813': 0.09090909090909091,
 '801983': 0.13333333333333333,
 '495472': 0,
 '404310': 0,
 '3611026': 0.05454545454545454,
 '394495': 0,
 '1927733': 0.07692307692307693,
 '457715': 0.10989010989010989,
 '4706318': 0.3,
 '1411407': 0.022222222222222223,
 '7074605': 0,
 '550880': 0,
 '6478314': 0.3333333333333333,
 '2448241': 0.16666666666666666,
 '1649634': 0,
 '2299119': 0.14285714285714285,
 '12439439': 0,
 '1656208': 0,
 '6585611': 0,
 '877081': 0,
 '1608250': 0.1,
 '1741433': 0,
 '3295735': 0.015151515151515152,
 '6308667': 0.5,
 '1023531': 0.22727272727272727,
 '1024606': 0.03571428571428571,
 '2852343': 0,
 '4360874': 0.054945054945054944,
 '429431': 0.07575757575757576,
 '653915': 0,
 '2002281': 0.19047619047619047,
 '2966584': 0,
 '1114766': 0.17647058823529413,
 '1245754': 0,
 '7819210': 0,
 '5266852': 0.06666666666666667,
 '3493452': 0,
 '1499823': 0.1,
 '640303': 0,
 '3501818': 0.1,
 '1906989': 0.0935672514619883,
 '7026879': 0,
 '100553': 0.4,
 '925253': 0.21212121212121213,
 '395184': 0.2,
 '1732896': 0,
 '635579': 0.10714285714285714,
 '1271297': 0,
 '128505': 0,
 '1779385': 0.05555555555555555,
 '491349': 0.051470588235294115,
 '1974715': 0.3333333333333333,
 '9679893': 0,
 '1205233': 0.2,
 '7299254': 0,
 '905497': 0,
 '5409137': 0,
 '6036537': 0.08333333333333333,
 '4598481': 0.1,
 '1542849': 0.3,
 '675875': 0.11666666666666667,
 '3472401': 0.05454545454545454,
 '2347726': 0.12380952380952381,
 '2433491': 0,
 '2436698': 0.2222222222222222,
 '6222397': 0,
 '695700': 0,
 '6152354': 0.5,
 '2098721': 0.06666666666666667,
 '1911740': 0,
 '1245542': 0.03636363636363636,
 '422330': 0.04395604395604396,
 '151859': 0,
 '1089584': 0.3333333333333333,
 '1800921': 0.07142857142857142,
 '8237849': 0.6666666666666666,
 '7608233': 0.06666666666666667,
 '2657207': 1.0,
 '3330897': 0,
 '4826274': 0,
 '555345': 0.09523809523809523,
 '1244177': 0,
 '3093660': 0,
 '2075866': 0,
 '81355': 0.15555555555555556,
 '2346116': 0.16666666666666666,
 '6584753': 0,
 '622021': 0.08666666666666667,
 '1497816': 0,
 '3043014': 0.16666666666666666,
 '2456238': 0,
 '1036553': 0,
 '2479308': 0.09166666666666666,
 '2205537': 0.3,
 '2043273': 0,
 '5508649': 0.1,
 '4100849': 0.06666666666666667,
 '1561690': 0.26666666666666666,
 '307213': 0.3,
 '6123359': 0.047619047619047616,
 '7853803': 0,
 '396388': 1.0,
 '4031843': 0,
 '5634695': 0,
 '2336843': 0.19444444444444445,
 '6222977': 0,
 '876921': 0.29411764705882354,
 '4028883': 0,
 '7512107': 0,
 '7799255': 0,
 '1244196': 0.6666666666666666,
 '885967': 1.0,
 '1006620': 0.05454545454545454,
 '5846674': 0.16666666666666666,
 '4453150': 0,
 '231339': 0.2571428571428571,
 '1968857': 0,
 '3827564': 1.0,
 '2441053': 0.125,
 '1383748': 0.07272727272727272,
 '538988': 0.15441176470588236,
 '8828738': 0.3333333333333333,
 '5475928': 0,
 '722885': 0.07142857142857142,
 '2192640': 0,
 '566248': 0,
 '3039893': 0.05555555555555555,
 '148753': 0,
 '2854200': 0.125,
 '1809202': 0,
 '1004042': 0.6666666666666666,
 '423457': 0.6666666666666666,
 '363694': 0.3333333333333333,
 '4271536': 0.047619047619047616,
 '7462602': 0,
 '207444': 0.027777777777777776,
 '2615966': 0,
 '651924': 0.08095238095238096,
 '3675118': 0,
 '8557376': 0,
 '1942612': 0.23809523809523808,
 '981486': 0.11462450592885376,
 '3482809': 0.03571428571428571,
 '365295': 0,
 '2121970': 0,
 '418913': 0,
 '959855': 0.5,
 '4936771': 0,
 '2856726': 0,
 '1702925': 0.047619047619047616,
 '4391334': 0.3,
 '2690252': 0,
 '3604615': 0.16666666666666666,
 '2736013': 0.07142857142857142,
 '5806332': 0.2,
 '1664833': 0,
 '1169418': 0.2,
 '985391': 0.08791208791208792,
 '2638452': 0.10294117647058823,
 '4372884': 0,
 '3939401': 0.07272727272727272,
 '746808': 0.1,
 '699247': 0.19444444444444445,
 '3549749': 0.3333333333333333,
 '1661701': 0.1111111111111111,
 '6611680': 1.0,
 '2676639': 0,
 '2793828': 0,
 '1378525': 0.02857142857142857,
 '5598718': 0,
 '3651449': 0,
 '3551741': 0,
 '694298': 0.23809523809523808,
 '3628447': 0.14285714285714285,
 '2571980': 0.2571428571428571,
 '663587': 0.2,
 '6736271': 0,
 '1563917': 0,
 '1040419': 0.047619047619047616,
 '1626543': 0,
 '1424035': 0.022058823529411766,
 '3169762': 0.021645021645021644,
 '3901595': 0,
 '340474': 0,
 '4182865': 0,
 '563020': 0.08333333333333333,
 '1535049': 0.21428571428571427,
 '4133796': 0,
 '3319983': 0.1111111111111111,
 '3613325': 0.0457516339869281,
 '4953358': 0,
 '4322007': 0,
 '818389': 0,
 '6316731': 0.047619047619047616,
 '2986046': 0.3333333333333333,
 '1766401': 0,
 '3009564': 0.13333333333333333,
 '582464': 0.15384615384615385,
 '529703': 0,
 '2152868': 0.030303030303030304,
 '3894470': 0.5238095238095238,
 '1285706': 0.09941520467836257,
 '5770945': 1.0,
 '1780749': 0.07575757575757576,
 '2773991': 0.02857142857142857,
 '2259465': 0.16363636363636364,
 '1008797': 0.05555555555555555,
 '1967390': 0,
 '2310343': 0,
 '3200192': 0,
 '2646830': 0.07142857142857142,
 '1864872': 0,
 '1419352': 0,
 '1260830': 0,
 '3989789': 0,
 '1496356': 0,
 '3930026': 0,
 '7052767': 0.12727272727272726,
 '250244': 0.09803921568627451,
 '1838285': 0.1388888888888889,
 '1787265': 0.14285714285714285,
 '1969849': 0,
 '2197689': 0.2857142857142857,
 '787052': 0.06060606060606061,
 '6504921': 0,
 '7093527': 0.07142857142857142,
 '1697221': 0.06666666666666667,
 '1132107': 0,
 '186857': 0.047619047619047616,
 '6863561': 0,
 '5789083': 0,
 '694100': 0.047619047619047616,
 '1354493': 0.03571428571428571,
 '5632741': 0.0915032679738562,
 '24114': 0,
 '2371032': 0.3333333333333333,
 '7937537': 0.16666666666666666,
 '320350': 0,
 '7124423': 0,
 '452335': 0,
 '3349029': 0.1111111111111111,
 '2044885': 0.16666666666666666,
 '3134676': 0,
 '1237950': 0.042735042735042736,
 '469607': 0.13333333333333333,
 '5541127': 0,
 '587512': 0,
 '4818873': 0,
 '389897': 0,
 '2423575': 0,
 '2173878': 0.09523809523809523,
 '5260400': 0,
 '2365546': 0,
 '1036698': 0,
 '3588650': 0.01904761904761905,
 '796107': 0.21818181818181817,
 '3237147': 0.5,
 '5990414': 0.07142857142857142,
 '694562': 0,
 '3693432': 0,
 '2679692': 0,
 '823503': 0.05128205128205128,
 '120922': 0,
 '530316': 0.045454545454545456,
 '6098155': 0.2857142857142857,
 '3286656': 0,
 '368528': 0.06666666666666667,
 '5376914': 0.1,
 '7292603': 0.05128205128205128,
 '10518428': 0,
 '493029': 0,
 '2463530': 0.10909090909090909,
 '4844815': 0,
 '1385510': 0.2,
 '2907428': 0,
 '695191': 0.1111111111111111,
 '4595251': 0.047619047619047616,
 '631137': 0,
 '1150230': 0.3333333333333333,
 '4387647': 0,
 '1698771': 0.06666666666666667,
 '1338391': 0.13333333333333333,
 '2994202': 0,
 '848142': 0.13333333333333333,
 '1360984': 0.2,
 '5478407': 0,
 '4056468': 0.16666666666666666,
 '192345': 0,
 '4568929': 0,
 '754757': 0.07142857142857142,
 '735397': 0,
 '2219101': 0.5,
 '674792': 0.0761904761904762,
 '1918627': 0.5,
 '258688': 0,
 '1444290': 0.10909090909090909,
 '328875': 0.043478260869565216,
 '3448452': 0,
 '9849555': 0,
 '1060418': 0.24444444444444444,
 '2546754': 0,
 '666188': 0.26666666666666666,
 '2577654': 0.16666666666666666,
 '3545205': 0,
 '5673411': 0.3,
 '196082': 0,
 '8217098': 0,
 '6980085': 0,
 '856311': 0,
 '6211873': 0.5238095238095238,
 '1767039': 0.027777777777777776,
 '3926779': 0.04736842105263158,
 '5358624': 0.06666666666666667,
 '6458056': 0.23809523809523808,
 '1281798': 0,
 '2354064': 0.06666666666666667,
 '174116': 0.047619047619047616,
 '2164762': 0,
 '812813': 0.09941520467836257,
 '1041410': 0,
 '1146965': 0.1282051282051282,
 '3234906': 0.16666666666666666,
 '292303': 0.09090909090909091,
 '6713312': 0,
 '3310981': 0,
 '4419244': 0.3333333333333333,
 '429907': 0.09523809523809523,
 '1061955': 0.37142857142857144,
 '1539932': 0.13333333333333333,
 '8652116': 0,
 '3715599': 0.01904761904761905,
 '255785': 0.1,
 '1112122': 0.09166666666666666,
 '3564183': 0.07575757575757576,
 '595117': 0.13333333333333333,
 '8695194': 0,
 '907016': 0.11428571428571428,
 '643943': 0.07142857142857142,
 '6301551': 0.19047619047619047,
 '523989': 0,
 '727210': 0.14285714285714285,
 '4669652': 0,
 '8596460': 0,
 '7486934': 0.13333333333333333,
 '7368618': 0.16666666666666666,
 '1222022': 0.14285714285714285,
 '1642815': 0.09523809523809523,
 '2304330': 0.1111111111111111,
 '6053915': 0.8333333333333334,
 '1354119': 1.0,
 '2065906': 0.3,
 '4473379': 0,
 '93319': 0,
 '2913918': 0.3333333333333333,
 '2976862': 0.027777777777777776,
 '752131': 0,
 '924284': 0.08888888888888889,
 '9061560': 0,
 '950859': 0.047619047619047616,
 '216824': 0.6666666666666666,
 '3759668': 0.16666666666666666,
 '1731783': 0.08496732026143791,
 '4300459': 0,
 '4042059': 0,
 '1393816': 0.6,
 '7187757': 0,
 '1635263': 0,
 '732506': 0.4,
 '1757934': 0.027777777777777776,
 '1645879': 0,
 '3910281': 0.16666666666666666,
 '7924598': 0,
 '866920': 0.3333333333333333,
 '2245253': 0.17753623188405798,
 '2867461': 0.047619047619047616,
 '2256179': 0.06666666666666667,
 '3214364': 0.3,
 '560465': 0,
 '8805566': 0,
 '7969353': 0,
 '6685763': 0.3333333333333333,
 '3248609': 0,
 '716306': 0,
 '8424878': 0,
 '659063': 0.18181818181818182,
 '594707': 0,
 '2529307': 0,
 '348953': 0,
 '8282849': 0,
 '1495788': 0,
 '2196511': 0,
 '6337935': 1.0,
 '6564102': 0,
 '2842349': 0.09523809523809523,
 '2085047': 0.08333333333333333,
 '3771209': 0,
 '2192845': 0.4,
 '3167290': 0.4666666666666667,
 '1317384': 1.0,
 '7893206': 0,
 '7615293': 0,
 '260168': 0.1,
 '5506642': 0.047619047619047616,
 '1768343': 0.20512820512820512,
 '9458303': 0,
 '551692': 0.16666666666666666,
 '622985': 0,
 '5610557': 0.3333333333333333,
 '447682': 0,
 '6726966': 0,
 '3954860': 0,
 '3553667': 0.01818181818181818,
 '808248': 0.04395604395604396,
 '969606': 0.16600790513833993,
 '5698222': 0.19047619047619047,
 '2900387': 0,
 '3528479': 0.06666666666666667,
 '1750546': 0.06666666666666667,
 '2654366': 0.3333333333333333,
 '3060913': 0,
 '7449784': 0,
 '2666487': 0.1111111111111111,
 '696200': 0.3333333333333333,
 '9638030': 0,
 '2584785': 0.05555555555555555,
 '11203591': 0,
 '74899': 0,
 '4044816': 0,
 '598316': 0.06349206349206349,
 '810239': 0.06593406593406594,
 '4261654': 0.03636363636363636,
 '921782': 0.13333333333333333,
 '662280': 0.022222222222222223,
 '3205363': 0.4,
 '1564533': 0,
 '3273802': 0,
 '889377': 0.06666666666666667,
 '1322058': 0.09523809523809523,
 '2179649': 0.3333333333333333,
 '5953952': 0,
 '809807': 0,
 '2091842': 0.3333333333333333,
 '629865': 0,
 '758361': 0,
 '2200941': 0.03368176538908246,
 '2562960': 0.3333333333333333,
 '2222889': 0.14545454545454545,
 '5752204': 0.21818181818181817,
 '521513': 0.3,
 '3943067': 0.13333333333333333,
 '4566056': 0.02197802197802198,
 '3634156': 0,
 '187951': 0.07352941176470588,
 '4086367': 0.2,
 '1540906': 0.1,
 '3708197': 0,
 '358525': 0,
 '6507451': 0,
 '2006556': 0.09166666666666666,
 '2643935': 0.35714285714285715,
 '1800820': 0.07142857142857142,
 '247030': 0,
 '3157845': 1.0,
 '1752834': 0,
 '3649250': 0.015151515151515152,
 '5891210': 0,
 '1579146': 0.06666666666666667,
 '491045': 0.12380952380952381,
 '8263873': 0,
 '4895132': 0,
 '813447': 0.17647058823529413,
 '6855701': 0,
 '2496720': 0.08791208791208792,
 '3248672': 0.1,
 '1392240': 0.2,
 '3728949': 0.14102564102564102,
 '6584034': 0,
 '5530931': 0,
 '461855': 0.0989010989010989,
 '744845': 0.03571428571428571,
 '1861312': 0,
 '726901': 0.16666666666666666,
 '1599762': 0.5,
 '256062': 0.07272727272727272,
 '3158030': 0,
 '6619068': 0,
 '1772401': 0,
 '4052714': 0.6666666666666666,
 '917412': 0.047619047619047616,
 '2079239': 0.17857142857142858,
 '6344732': 0.21818181818181817,
 '1522385': 0.0641025641025641,
 '3468316': 0.10714285714285714,
 '2635318': 0,
 '5708459': 1.0,
 '6724115': 0.6666666666666666,
 '1269545': 0.13333333333333333,
 '3580207': 0.21212121212121213,
 '1185670': 0.08571428571428572,
 '1276004': 0.027777777777777776,
 '5133892': 0,
 '2495078': 0.05128205128205128,
 '6006490': 0.3333333333333333,
 '5106953': 1.0,
 '519132': 0,
 '985024': 0,
 '3031067': 0,
 '8035501': 0,
 '3515209': 0.2,
 '1114399': 0.17857142857142858,
 '4919434': 0.1,
 '6241123': 0,
 '2587810': 0,
 '7541078': 0.14285714285714285,
 '3785062': 0,
 '1076183': 0.2909090909090909,
 '2071975': 0,
 '4721417': 0,

In [0]:
import pandas as pd
ClusteringCoefficient = pd.DataFrame(clustering_coefficient,index=['user','clustering_coefficient'])

## iii) Calculate the page rank of each user

In [0]:
from graphframes import *

In [0]:
# get nodes
nodes = sqlContext.sql('select distinct * from (select distinct user1 from venmodata union select distinct user2 from venmodata)')
nodes = nodes.select(nodes.user1.alias('id'))

In [0]:
# get edges
edges = sqlContext.sql('select distinct user1,user2 from venmodata')
edges = edges.select(edges.user1.alias('src'),edges.user1.alias('dst'))

In [0]:
g = GraphFrame(nodes, edges)

In [0]:
# get pagerank
results = g.pageRank(resetProbability=0.15, tol=0.01)
pagerank = results.vertices

## Q7: Create your dependent variable Y, i.e. the total number of transactions at lifetime point 12

In [0]:
query =\
"""
SELECT
    user_1, months,topic_accu, Activity, Cash, Event, Food, `Illegal/Sarcasm`, People, Transportation, Travel, Utility, `no conclusion`,
    friend,
    friend_of_friend,
    (friend + friend_of_friend) AS total_connections,
    pagerank,
    clustering_coefficient
FROM
    (SELECT
      upp.*,
      SUM(num_of_friend) OVER (PARTITION BY upp.user_1 ORDER BY months ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS friend,
      IF(SUM(num_of_friend_of_friend) OVER (PARTITION BY upp.user_1 ORDER BY months ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) IS NULL, 0, SUM(num_of_friend_of_friend) OVER (PARTITION BY user_1 ORDER BY months ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)) AS friend_of_friend,
      pagerank,
      clustering_coefficient
    FROM
      userProfile_pivoted upp
    LEFT JOIN
      fof
    ON upp.user_1 = fof.user1
    AND upp.months = fof.cust_age
    LEFT JOIN
      fofof
    ON upp.user_1 = fofof.user1
    AND upp.months = fofof.cust_age
    LEFT JOIN
      pagerank p
    ON upp.user_1 = p.id
    LEFT JOIN
      ClusteringCoefficient cc
    ON cc.user_1 = upp.user_1
    ORDER BY
      user_1, months)
"""

venmoComplete = spark.sql(query)
venmoComplete.createOrReplaceTempView("venmoComplete")
sqlContext.cacheTable("venmoComplete")

NameError: ignored

## Q8: Create the recency and frequency variables. In CRM, this predictive framework is known as RFM. Here, you don‚Äôt have monetary amounts, so we will focus on just RF. Recency refers to the last time a user was active, and frequency is how often a user uses Venmo in a month. You need to compute these metrics across a user‚Äôs lifetime in Venmo (from 0 up to 12)

In [0]:
query = \
"""
SELECT
    t2.user_1,
    t2.months,
    IF(LAST(row_recency) IS NULL, 30, LAST(row_recency)) AS recency,
    IF(LAST(frequency) IS NULL, 0, LAST(frequency)) AS frequency
FROM
    (SELECT
        user1, 
        cust_age,
        DATEDIFF(end_of_month, datetime) AS row_recency,
        frequency
    FROM
        (SELECT
            *,
            (COUNT(*) OVER (PARTITION BY user1, cust_age))/30 AS frequency,
            ADD_MONTHS(join_date, cust_age) AS end_of_month
        FROM
            customerAge)
    ORDER BY
        user1, cust_age, row_recency DESC) t1
RIGHT JOIN
    (SELECT user_1, months
    FROM old_cust
    GROUP BY user_1, months
    ORDER BY user_1, months) t2
ON t1.user1 = t2.user_1 AND t1.cust_age = t2.months
GROUP BY
    t2.user_1, months
ORDER BY
        t2.user_1, months, recency DESC
"""
rfm = spark.sql(query)
rfm.cache()
rfm.createOrReplaceTempView("rfm")

In [0]:
rfm.show(5000)

## Q9:  For each user‚Äôs lifetime point, regress recency and frequency on Y. Plot the MSE for each lifetime point. In other words, your x-axis will be lifetime in months (0-12), and your y- axis will be the MSE.

In [0]:
# combine rfm to user profile
query =\
"""
SELECT
    v.user_1,
    v.months,
    recency,
    frequency,
    topic_accu,
    Activity,
    Cash,
    Event,
    Food,
    `Illegal/Sarcasm`,
    People,
    Transportation,
    Travel,
    Utility,
    `no conclusion`,
    friend,
    friend_of_friend,
    total_connections
FROM
    venmoComplete v
LEFT JOIN
    rfm r
ON v.user_1 = r.user_1 AND v.months = r.months

"""
venmoFinal = spark.sql(query)
venmoFinal.createOrReplaceTempView("venmoFinal")
venmoFinal.cache()

In [0]:
venmoFinal.show()

In [0]:
lr_data = venmoFinal.select("recency", "frequency", venmoFinal.topic_accu.alias("label"))
train, test = lr_data.randomSplit([0.7, 0.3], seed=23333)

In [0]:
assembler = VectorAssembler().setInputCols(['recency', "frequency"]).setOutputCol("features")
train01 = assembler.transform(train)
test01 = assembler.transform(test)

In [0]:
paramGrid = ParamGridBuilder()\
    .addGrid(lr.regParam, [0.1, 0.01]) \
    .addGrid(lr.fitIntercept, [False, True])\
    .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0])\
    .build()

In [0]:
lr = LinearRegression(featuresCol = 'features', labelCol='label', maxIter=10, regParam=0.3)
lr_model = lr.fit(train01)

In [0]:
# training set result
print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))
trainingSummary = lr_model.summary
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

In [0]:
# validation
lr_predictions = lr_model.transform(test01)
lr_predictions.select("prediction","label","features").show(5)
from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="label",metricName="r2")
print("R Squared (R2) on test data = %g" % lr_evaluator.evaluate(lr_predictions))

In [0]:
# MSE on test set
test_result = lr_model.evaluate(test01)
print("Mean Squared Error (MSE) on test data = %g" % test_result.meanSquaredError)

## Q10: For each user‚Äôs lifetime point, regress recency, frequency AND her spending behavior profile on Y. Plot the MSE for each lifetime point like above. Did you get any improvement?

In [0]:
lr_data02 = venmoFinal.select("recency", "frequency", "Activity", "Cash", "Event", "Food", "Illegal/Sarcasm", "People", "Transportation", "Travel", "Utility", "no conclusion" , venmoFinal.topic_accu.alias("label"))
train02, test02 = lr_data02.randomSplit([0.7, 0.3], seed=23333)

In [0]:
assembler02 = VectorAssembler().setInputCols(["recency", "frequency", "Activity", "Cash", "Event", "Food", "Illegal/Sarcasm", "People", "Transportation", "Travel", "Utility", "no conclusion"]).setOutputCol("features")
train02 = assembler02.transform(train02)
test02 = assembler02.transform(test02)
lr_model02 = lr.fit(train02)

In [0]:
# training set result
print("Coefficients: " + str(lr_model02.coefficients))
print("Intercept: " + str(lr_model02.intercept))
trainingSummary02 = lr_model02.summary
print("RMSE: %f" % trainingSummary02.rootMeanSquaredError)
print("r2: %f" % trainingSummary02.r2)

In [0]:
test_result02 = lr_model02.evaluate(test02)
print("Mean Squared Error (MSE) on test data = %g" % test_result02.meanSquaredError)

## Q11: For each user‚Äôs lifetime point, regress her social network metrics on Y. Plot the MSE for each lifetime point like above. What do you observe? How do social network metrics compare with the RF framework? What are the most informative predictors?

In [0]:
lr_data03 = venmoFinal.select("clustering_coefficientÔºå", "pagerank", "friend", "friend_of_friend", venmoFinal.topic_accu.alias("label"))
train03, test03 = lr_data03.randomSplit([0.7, 0.3], seed=23333)

In [0]:
assembler03 = VectorAssembler().setInputCols(["clustering_coefficientÔºå", "pagerank", "friend", "friend_of_friend"]).setOutputCol("features")
train03 = assembler03.transform(train03)
test03 = assembler03.transform(test03)
lr_model03 = lr.fit(train03)

In [0]:
# training set result
print("Coefficients: " + str(lr_model03.coefficients))
print("Intercept: " + str(lr_model03.intercept))
trainingSummary03 = lr_model03.summary
print("RMSE: %f" % trainingSummary03.rootMeanSquaredError)
print("r2: %f" % trainingSummary03.r2)

In [0]:
test_result03 = lr_model03.evaluate(test03)
print("Mean Squared Error (MSE) on test data = %g" % test_result03.meanSquaredError)

## Q12: For each user‚Äôs lifetime point, regress her social network metrics and the spending behavior of her social network on Y. Plot the MSE for each lifetime point like above. Does the spending behavior of her social network add any predictive benefit compared to Q10?

In [0]:
lr_data04 = venmoFinal.select("clustering_coefficientÔºå", "pagerank", "friend", "friend_of_friend", "recency", "frequency", "Activity", "Cash", "Event", "Food", "Illegal/Sarcasm", "People", "Transportation", "Travel", "Utility", "no conclusion", venmoFinal.topic_accu.alias("label"))
train04, test04 = lr_data04.randomSplit([0.7, 0.3], seed=23333)

In [0]:
assembler04 = VectorAssembler().setInputCols(["clustering_coefficientÔºå", "pagerank", "friend", "friend_of_friend", "recency", "frequency", "Activity", "Cash", "Event", "Food", "Illegal/Sarcasm", "People", "Transportation", "Travel", "Utility", "no conclusion"]).setOutputCol("features")
train04 = assembler04.transform(train04)
test04 = assembler04.transform(test04)
lr_model04 = lr.fit(train04)

In [0]:
# training set result
print("Coefficients: " + str(lr_model04.coefficients))
print("Intercept: " + str(lr_model04.intercept))
trainingSummary04 = lr_model04.summary
print("RMSE: %f" % trainingSummary04.rootMeanSquaredError)
print("r2: %f" % trainingSummary04.r2)

In [0]:
test_result04 = lr_model04.evaluate(test03)
print("Mean Squared Error (MSE) on test data = %g" % test_result04.meanSquaredError)